@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$font: 'Work Sans', sans-serif;
$background: #194350;
$lightbackground: #dadada;
$light: #f4f4f4;
$dark: #2d2d2d;
$accent1: #FF8882;
$accent2: #9DBEB9;
$accent3: #FFC2B4;
$accent4: #FFE5B9;
$accent5: #34515a;
$accent6: #9FD8DF;
$accent7: #b6aae4;
$accent8: #aad626;
